
.items {
    text-align: center;
    color: #2e2e2e;
    background-image: url(ItemsIsItems.jpg);
    background-size: cover;
  
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.island {
    text-align: center;
    color: #2e2e2e;
    background-image: url(FloatingIslandSide.png);
    background-size: cover;
  
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

line {
    content: "\f005";
    display: inline-block;
    width: 45%;
    margin: 25px auto 30px;
    border-top: solid 5px;
}